:host {
  display: block;
  min-height: 100vh;
}

.main-content {
  margin-left: 240px;
  margin-top: 45px;
  min-height: calc(100vh - 45px);
  background: var(--notion-bg-secondary);
  transition: margin-left 100ms ease-in 0s;
}

.main-content.no-sidebar {
  margin-left: 0;
  margin-top: 0;
  min-height: 100vh;
}

